body {
  font-family: "Shippori Mincho", serif;
  color: white;
}
.title1 {
  width: 1200px;
  height: 600px;
  background-image: url(./img-4/firstview.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.head {
  display: flex;
  align-items: baseline;
  width: 50%;
}
.head__title {
  font-size: 30px;
  margin-left: 15px;
}
.head__list {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.head__list > div {
  margin: 0 20px;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
  height: 500px;
}
.title__1 {
  font-size: 40px;
}
.title__2 {
  display: flex;
}
.photo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: 300px;
}
.photo__1 {
  grid-column: 1/2;
  background-image: url(./img-4/topics-img1.png);
  background-repeat: no-repeat;
}
.photo__1__0,
.photo__2__0,
.photo__3__0 {
  margin: 150px 10px 10px 10px;
}
.photo__1__1,
.photo__2__1,
.photo__3__1 {
  font-size: 26px;
}
.photo__2 {
  grid-column: 2/3;
  background-image: url(./img-4/topics-img2.png);
  background-repeat: no-repeat;
}
.photo__3 {
  grid-column: 3/4;
  background-image: url(./img-4/topics-img3.png);
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .photo__1__2,
  .photo__2__2,
  .photo__3__2 .service1 {
    display: none;
  }
}
